---
import { Image } from 'astro:assets';

import mpilab_dark from "./src/assets/mpilab_dark.png";
import mpilab_light from "./src/assets/mpilab_light.png";
import ComputeOntario from "./src/assets/ComputeOntarioLogo.png";
import uwaterloo_dark from "./src/assets/uwaterloo_dark.png";
import uwaterloo_light from "./src/assets/uwaterloo_light.png"
---


<div class="sponsor-grid">
    <a href="https://www.mpilab.ca"><Image src={mpilab_dark} alt="MPILab Logo" class="light:sl-hidden" /><Image src={mpilab_light} alt="MPILab Logo" class="dark:sl-hidden" /></a>
    <a href="https://www.computeontario.ca"><Image src={ComputeOntario} alt="Compute Ontario Logo" /></a>
    <a href="https://www.uwaterloo.ca"><Image src={uwaterloo_dark} alt="University Of Waterloo Logo" class="light:sl-hidden" /><Image src={uwaterloo_light} alt="University Of Waterloo Logo" class="dark:sl-hidden" /></a>  
</div>

<style>
	.sponsor-grid {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
		display: grid;
		gap: 2rem;
        justify-items: center;
        align-items: center;
	}

	.sponsor-grid > :global(*) {
		margin-top: 0 !important;
	}

	@media (min-width: 50rem) {
		.sponsor-grid {
			grid-template-columns: 1fr 1fr 1fr;
			gap: 2.5rem;
		}
	}

    @media (max-width: 50rem) {
		.sponsor-grid {
			width: 30%;
		}
	}
</style>